/*Author: Damien Aldridge
Date: 1/24/2024
File name: index.html*/

/* Styles that apply to multiple things */
* {
    font-family: helvetica;
}

span.productprice {
    font-weight: bold;
    color: blue;
}

/* Header */
h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
    background-image: url("../media/pattern.jpeg");
}

/* Products */

h2.product {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h2.brush {
    background-color: mediumspringgreen;
}

h2.frame {
    background-color: lightcoral;
}

h2.paint {
    background-color: skyblue;
}